{% extends 'c-menu.html' %}  <!-- Extiende la plantilla base 'c-menu.html' -->

{% block title %}Envios{% endblock %}  <!-- Define el título de la página -->

{% block page_content %}  <!-- Bloque de contenido de la página -->
{% load static %}  <!-- Carga el tag 'static' para utilizar archivos estáticos -->

<head>
    <!-- Enlace a la hoja de estilos CSS específica para esta vista -->
    <link rel="stylesheet" href="{% static 'css/c_read_solicitud.css' %}">
</head>

<div class="container">  <!-- Contenedor principal -->
    <h1>Mis Envios</h1>  <!-- Encabezado principal de la página -->
    <ul>
        {% for envio in envios %}  <!-- Itera sobre la lista de envíos -->
        <li>
            <div class="solicitud-info-container">  <!-- Contenedor de la información de la solicitud -->
                <div class="solicitud-info">  <!-- Información de la solicitud -->
                    <strong>{{ envio.solicitud }}</strong> - {{ envio.calificacion }} - <strong>{{ 'Entregado' }}</strong>
                </div>
            </div>
        </li>
        {% empty %}  <!-- Si no hay envíos, muestra este mensaje -->
        <li>No hay solicitudes.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}  <!-- Fin del bloque de contenido de la página -->
