{% extends 'menu.html' %}

{% block title %}Editar Solicitud{% endblock %}

{% block page_content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/read_solicitud.css' %}">
</head>

<h1>Editar Evento</h1>

<div class="form-container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-group">
                <button type="submit" class="btn btn-generico">Guardar </button>
            </div>
        </form>
        <p></p>
        <!-- Formulario separado para eliminar el evento -->
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="delete" value="1">
            <div class="button-group">
                <button type="submit" class="btn btn-delete">Eliminar</button>
            </div>
        </form>  
</div>
{% endblock %}
