{% extends 'menu.html' %}  <!-- Extiende la plantilla base 'menu.html' -->

{% block title %}Buscar Solicitud{% endblock %}  <!-- Define el título de la página -->

{% block page_content %}  <!-- Bloque de contenido de la página -->
{% load static %}  <!-- Cargar archivos estáticos -->

<head>
    <link rel="stylesheet" href="{% static 'css/read_solicitud.css' %}">  <!-- Enlace a la hoja de estilos CSS -->
</head>

<div class="container">  <!-- Contenedor principal -->
    <h1>Solicitudes</h1>  <!-- Título principal -->
    <ul>  <!-- Lista de solicitudes -->
        {% for solicitud in solicitudes %}  <!-- Bucle para cada solicitud en la lista -->
        <li>
            <div class="solicitud-info-container">  <!-- Contenedor de información de la solicitud -->
                <div class="solicitud-info">  <!-- Información de la solicitud -->
                    <strong>{{ solicitud.nombre_producto }}</strong> - {{ solicitud.fecha_entrega }} <br> {{ solicitud.origen }} <br> {{ solicitud.destino }}
                </div>
                <div class="button-container">  <!-- Contenedor de botones -->
                    <a href="{% url 'edit_solicitud' solicitud.id %}" class="btn btn-edit">Editar</a>  <!-- Enlace para editar la solicitud -->
                    <a href="{% url 'delete_solicitud' solicitud.id %}" class="btn btn-delete">Eliminar</a>  <!-- Enlace para eliminar la solicitud -->
                </div>
            </div>
        </li>
        {% empty %}
        <li>No hay solicitudes.</li>  <!-- Mensaje si no hay solicitudes -->
        {% endfor %}
    </ul>
    <a href="{% url 'create_solicitud' %}" class="btn">Agregar solicitud</a>  <!-- Enlace para agregar una nueva solicitud -->
</div>

{% endblock %}
