{% extends 'menu.html' %}  <!-- Extiende la plantilla base 'menu.html' -->

{% block title %}Envios{% endblock %}  <!-- Define el título de la página -->

{% block page_content %}  <!-- Bloque de contenido de la página -->
{% load static %}  <!-- Cargar archivos estáticos -->

<head>
    <link rel="stylesheet" href="{% static 'css/read_solicitud.css' %}">  <!-- Enlace a la hoja de estilos CSS -->
</head>

<div class="container">  <!-- Contenedor principal -->
    <h1>Seguimientos</h1>  <!-- Título principal -->
    <ul>  <!-- Lista de seguimientos -->
        {% for seguimiento in seguimientos %}  <!-- Bucle para cada solicitud en la lista -->
        <li>
            <div class="solicitud-info-container">
                <div>
                    <strong>{{ seguimiento.id_evento }}</strong>
                </div>
                <div class="button-container">
                    <a href="{% url 'gestionar_seguimiento' seguimiento.id %}" class="btn btn-generico">Gestionar</a>
                </div>
            </div>
        </li>
        {% empty %}
        <li>No hay seguimientos.</li>  <!-- Mensaje si no hay seguimientos -->
        {% endfor %}
    </ul>
</div>

{% endblock %}
